.DS_Store

/.build
/Packages

/*.xcodeproj
Frameworks/*.xcframework

xcuserdata/
DerivedData/
.docarchive
doc/static

.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata
Package.swift.bak

.idea
